{% extends "base.html" %}
{% block content %}

<center><h2>Posts</h2></center>
<div class="container mt-5">
    <div class="row">
        {% for post in data %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 20px;">{{ post.title }}</h5>
                    <p class="card-text"><strong>Author:</strong> {{ post.author.name }}</p>
                    
                    <!-- Iterate over the many-to-many relationship for categories -->
                    <p class="card-text">
                        <strong>Categories:</strong>
                        {% for category in post.category.all %}
                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text">{{ post.content }}</p>
                    <div>
                        <a href="/posts/edit_post/{{post.id}}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/posts/delete_post/{{post.id}}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
