<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <link rel="stylesheet" href={{ url_for('static', filename = 'css/styles.css')}}>
</head>
<body>
    <h1>Welcome to flask</h1>

    <h3>{{extra}}</h3>

    <p>The value of X is: {{b}}</p>
    {% if b%2==0 %}
    <p>{{b}} is Even</p>
    {% else %}
    <p>{{b}} is Odd</p>
    {% endif %}

    <h3>Languages</h3>
    {% for x in languages %}
        <li>{{x}}</li>
    {% endfor %}

    <script src={{ url_for('static', filename = 'js/main.js')}}></script>

</body>
</html>